page-about {

    ion-header {
        .toolbar {
          position: absolute;
    
          .toolbar-background {
            background: transparent;
          }
    
          .toolbar-title {
            color: black;
          }
        }
      }

      .ionIcon{
          color:#fff;
      }
}
