page-cat-list {

    .list_header{
        color:#fff;
        text-align: center;
        text-transform: uppercase;
        letter-spacing:7px;
        font-size:35px;
    }

    .sub_list_header{
        color:#fff;
        text-align: center;
        text-transform: uppercase;
        letter-spacing:5px;
        // font-size:25px;
    }

}
